body {
    margin: 0;
    height: 900px;
    width: 700px;
    max-width: 80%;
    margin: auto;
    font-weight: 900;

}

.container {
    display: flex;
    justify-content: space-around;
    background: #1c2945;
    margin: auto;
    border-radius: 10%;
}

h2 {
width: 149px;
height: 36px;
left: 85px;
top: 40px;
margin-bottom: 21px;
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;

/* identical to box height, or 90% */
text-align: center;

color: #EEEEEE;
text-transform: uppercase;


}

.main-btn {
font-family: Cursed Timer ULiL, sans-serif;
font-size: 90px;
font-weight: 400;
line-height: 127px;
letter-spacing: 0em;
text-align: center;

width: 155px;
height: 120px;
left: 82px;
top: 125px;
color: #F94F6D;
background: #080001;
border-radius: 5px;
border: none;
margin-bottom: 26px;
}

.secondary-btn {
font-family: Cursed Timer ULiL, sans-serif;
margin-top: 0;
margin-bottom: 69px;
box-sizing: border-box;
width: 45px;
height: 45px;
left: 337px;
top: 271px;
background-color: #1c2945;
color: #9AABD8;
border: 2px solid #9AABD8;
border-radius: 5px;
cursor: pointer;
}

.secondary-btn:hover,
.secondary-btn:focus {
    background:  #333f57;
}

.small-btn {
    display: flex;
    justify-content: space-between;
}